
<ion-content fullscreen pager scroll-y="false">
  <ion-slides pager style="height: 100%;">
    <ion-slide style="background-color: #ff8000;">
      <img src="../assets/images/w1.png"/>
      <div style="color: white; margin-top: -40px;font-size: 23px;">
      <h3>Welcome</h3>
      <p style="color: white;
      font-size: 15px;
      font-family: 'Roboto';">This is the <b>BertschInnovation mobile HR magaement application</b> Dedicated for you in order to have better preview of your attendance</p>
    </div>
    </ion-slide>
         
    <ion-slide style="background-color: #E1679A;">
      <img src="../assets/images/w2.png"/>
      <div style="color: white; margin-top: -40px;">
        <h3>Attendance</h3>
        <p style="    color: white;
        font-size: 15px;
        font-family: 'Roboto';">You will be able to register and check your attendance every day in different ways</p>
      </div>
    </ion-slide>

    <ion-slide style="background-color: #F6B5FF;">
      <div class="slide">
        <img src="../assets/images/w3.png"/>
        <div style="color: white; margin-top: -40px;">
          <h3>Holidays</h3>
          <p style="color: white;
          font-size: 15px;
          font-family: 'Roboto';">You will be able to make holiday requests to your admin via this platform</p>
        </div>
      </div>
    </ion-slide>

    
    <ion-slide style="background-color: #FFD6E7;">
      <img src="../assets/images/w6.png"/>
      <div style="color: white; margin-top: -40px;">
      <h2>Discussions</h2>
      <p style="color: white;
          font-size: 15px;
          font-family: 'Roboto';">And to communicate with your different team mates</p>
          </div>
      <ion-button fill="clear" routerLink="/login">Get Started<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>