
<ion-header >
  <ion-toolbar style="color: coral;">
    <ion-title>Attendance</ion-title>
    <ion-buttons slot="primary">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="--ion-background-color:#e9e6e6;">
  <ion-card class="card-style" >
    <div class="card-content">
      <img src="../assets/images/pdp.png">
      <ion-label >
        <h2>Riadh Kaabi</h2>
        <p>Mobile Developer</p>
      </ion-label>
    </div>
    <div  class="work-status-bg">Working</div>

  </ion-card>
<ion-card style="--ion-background-color:#f5f4f4;">

  <ion-card class="attendance-style">
    <ion-card class="card-date">
      <ion-icon name="calendar-outline" style="float: left; color: rgb(255, 255, 255); font-size: 1.5rem ;margin-top: 6px;margin-left: 10px;"></ion-icon>
      <ion-label style="color: white;margin-left: 10px;margin-top: 100px;font-size: 18px;font-family: Roboto;"></ion-label>
    </ion-card>
    <div class="titles">
      <ion-label >Entry time :</ion-label>
      </div>
    <div class="titles">
      <ion-label>Leaving time :</ion-label>
    </div>
    <div class="titles">
      <ion-label>Entry time :</ion-label>
    </div>
    <div class="titles">
      <ion-label>Leaving time :</ion-label>
    </div>
    
  </ion-card>
  <ion-card class="attendance-style"></ion-card>
</ion-card>

</ion-content>
