<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-list *ngFor="let notification of myNotification">
  <ion-item-sliding >
    <ion-item (click)="updateNotification(notification)">
      <ion-note style="margin-top: -45px" slot="end">
        {{notification.time}}  
      </ion-note>
      <ion-label>
        <h2 style="color:rgb(255, 75, 4);font-weight: bold;">{{notification.title}}</h2>
        <ion-row>
          <p style="font-weight: bold; color: black;">{{notification.body}}&nbsp;</p>
        </ion-row>
        
        <p>check it out</p>
      </ion-label>
      
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option style="background-color:rgb(255, 75, 4) ;">
        <ion-icon slot="icon-only" name="trash" (click)="deleteNotification(notification)"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>
